
#fname{
    width: 600px;
}
#alldiv{
    background-color: gainsboro;
    position: relative;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}